<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Fartza.ru | Здесь можно продать или купить одежду</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>

		{{{body}}}
		
		<script src="/built/main.bundle.js"></script>
			
	</body>
</html>
